<app-carousel></app-carousel>
<div class="the-wrapper">
  <div class="card card-md">
    <div class="card-icon cl-primary">
      <fa-icon [icon]="['fas', 'spa']"></fa-icon>
    </div>
    <div class="card-content">
      <h4>Products</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
  <div class="card card-md">
      <div class="card-icon cl-primary">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
      </div>
      <div class="card-content">
        <h4>About us</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="card card-md">
        <div class="card-icon cl-primary">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </div>
        <div class="card-content">
          <h4>Contact us</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
</div>
<!-- <div class="the-wrapper">
  <img src="../../assets/img/bouquets/1.png" alt="">
  <div class="bg-light shadow-2 buttons">
    <button mat-icon-button [color]="favorite ? 'warn' : ''" (click)="favChange()">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <span class="icon-spacer"></span>
    <button mat-icon-button >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    
    <span class="icon-spacer"></span>
    <button mat-icon-button >
      <mat-icon>details</mat-icon>
    </button>
  </div>  
  <div class="bg-light shadow-2">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eos porro perspiciatis repudiandae, saepe officiis dignissimos tempore? Eos atque quo, nobis, aliquid possimus commodi repellendus quasi saepe error non eius.
    </p>
  </div>
</div> -->