<div class="the-wrapper">
  <img src="../../assets/img/bouquets/1.png" alt="">
  <div class="bg-light shadow-2 buttons">
    <button mat-icon-button [color]="favorite ? 'warn' : ''" (click)="favChange()">
      <mat-icon>favorite_border</mat-icon>
    </button>
    <span class="icon-spacer"></span>
    <button mat-icon-button >
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    
    <span class="icon-spacer"></span>
    <button mat-icon-button >
      <mat-icon>details</mat-icon>
    </button>
  </div>  
  <div class="bg-light shadow-2">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Non eos porro perspiciatis repudiandae, saepe officiis dignissimos tempore? Eos atque quo, nobis, aliquid possimus commodi repellendus quasi saepe error non eius.
    </p>
  </div>
</div>
